html{
    font-size: 14px;
}
h3{
    color: rgb(122, 66, 25);
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: rgb(160, 98, 98);
}
h1{
    color: #FA7070;
    font-family: 'Poppins', sans-serif;;

}
h6{
    font-size: medium;
}

/*oznaka klase*/
.paragraf1{
    color: blanchedalmond;
    /*veličine: px, %, em, rem*/
    font-size: 30px;
    font-weight: 700;
}

/*oznaka id-a*/
#paragraf2 {
color: rgb(100, 21, 21);
font-size: 2rem;
font-weight: bolder;
}